

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.list-group{
	clear: both;
}

.big-logo{
	width: 100px;
	margin-bottom: 30px;
}

.glyph-green{
	color: #009900;
}

.glyph-red{
	color: #FF0000;
}

#selectPlace{
	background: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none !important;
}

#solicitacoes h2{
	width: 100%;
	font-size: 2em;
}

#solicitacoes td{
	vertical-align: middle;
}

#ContentSolicitacao .modal-footer{
	text-align: center;
}

a, a:hover, a:active, a:focus{
	text-decoration: none;
	color: #000;
}