

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.list-group{
	clear: both;
}

.big-logo{
	width: 100px;
	margin-bottom: 30px;
}

.glyph-green{
	color: #009900;
}

.glyph-red{
	color: #FF0000;
}











